.open-button {
  display: block;
  margin: 40px auto;
  border: 0;
  border-radius: 8px;
  padding: 10px 30px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1rem;
  font-weight: 600;
  background-color: rgb(0, 140, 246);
  cursor: pointer;
  color: #ffffff;
  transition: all 240ms linear;
}

.modal {
  width: 80%;
  max-width: 350px;
  background-color: #ffffff;
  border: 0;
  border-radius: 5px;
  font-family: Arial, Helvetica, sans-serif;
  padding: 0;
}

.modal .modal__header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  padding: 16px;
}

.modal .modal__header h3 {
  margin: 0
}

.modal .modal__content {
  text-align: center;
}

.modal .modal__actions {
  display: flex;
  justify-content: flex-end;
  gap: 5px;
  padding: 16px;

}

dialog:-internal-dialog-in-top-layer::backdrop {
  background-color: #000000;
  opacity: 0.5;
}
