*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    text-align: center;
}

body{
    width: 100%;
    height: 100vh;
}

main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    gap: 3em;
}

section{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1em;
}

button{
    width: 4em;
}

button:hover{
    background-color: lightgray;
}


@media screen and (width < 600px ) {
    section{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 1em;
    }
}