* {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f0f0f0;
}

.container {
  width: 300px;
  text-align: center;
}

.search-input {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #dddddd;
  border-radius: 5px;
}

ul {
  list-style: none;
  padding: 0;
}

ul li {
  padding: 0;
  margin: 5px 0;
  background-color: #eee;
  border-radius: 5px;
}

.d-none {
  display: none;
}

.d-block {
  display: block;
}
