*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-rows: 15% 70% 15%;
}

main{
    display: flex;
    flex-direction: column;
    gap: 1em;
}

main p{
    text-align: center;
}

main section{
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 1em;
    align-items: center;
}

section button{
    border: 1px solid black;
    border-radius: 1em;
    width: 90%;
}

header h1, footer p {
    text-align: center;
}

