main{
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form_container{
    display: grid;
    grid-template-columns: 30% 70%;
}

form{
    width: 100%;
}

.error{
    background-color: orangered;
}