* {
    margin: 0px;
    padding: 0px;
}

h2 {
    font-size: 40px;
}


section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    justify-items: center;
    align-items: center;
}

article{
    background-color: aqua;
    width: 100%;
}