.header {
  min-height: 56px;
  box-sizing: border-box;
  background-color: #000000;
  padding: 8px 16px;
  display: flex;
  justify-content: space-between;
}

.header .navbar .navbar__menu {
  display: flex;
  text-transform: uppercase;
}

.header .navbar .navbar__menu .navbar__menu-item {
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0;
}

.header .header__actions .header__actions-menu {
  display: flex;
}

/* Mobile Devices */
@media screen and (max-width: 768px) {
  .header {
    width: 100%;
  }

  .header .navbar .navbar__menu {
    display: none;
  }
}

/* Tablet Devices */
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .header .navbar .navbar__menu {
    display: block;
    background-color: red;
  }
}
