* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    text-align: center;
}


form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1em;
    width: 50%;
    margin: 0 auto;
}

form label {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 1em;
}

label {
    width: 100%;
}